/* 经典的 clearfix 代码 */
.clearfix {
    display: block;
    zoom: 1; /* 只针对IE6/7 */
}
/*所有主流浏览器都支持 :after 伪元素。*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}